html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
body a{
   color: #0089F1;
}
#wrapper {
  position:relative;
  min-height: 85.5%;
  height: auto !important;
  
}
#content {
  padding-bottom:25px;
  padding: 20px;
}
#footer {
  position: relative;
  margin-top: -25px;
  height: 25px;
  background:#DDDDDD;
}
.head{
    width: 100%; 
    height: 130px;
}
.headbg{
   width: 100%; 
   height: 50px;
   background-color:#AAAAAA; 
}
.otst{
   margin: 20px 0; 
}
.loginFormBox{
/*    display: none;*/
    background-color: rgb(192, 192, 192); 
    float: right;
    -moz-border-radius:8px;
    -khtml-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid white;
}
.loginForm{
    width: 333px;
    margin: 10px;
    height: 77px;
}

.loginForm label{
    display: inline-block;
    width: 94px;
}
.loginForm label span{
    color: rgb(85, 85, 85);
}

.loginForm button{
    float: right;
    margin-right: 14px;
    margin-top: 5px;
}

.question{
    float: left; 
    color: white;
    font-family: Helvetica; 
    font-size: 11pt;
    margin-left: 14px;
    margin-top: 9px; 
    cursor: pointer;
}

.exitImg{
    float: right; 
    margin: 13px -6px 0px -37px;
}

#welcomeMsg{
    float: right; 
    margin: 5px 10px 0 10px;
    color: rgb(85, 85, 85);
}
#logout{
    float: right;
    margin: 5px 10px 0 10px;
    cursor: pointer; 
    color: rgb(85, 85, 85);
}
#login1{
    float: right;
    margin: 10px 20px 0pt 0pt;
    cursor: pointer;
    color: rgb(85, 85, 85);
}
.l{float: left;}
.r{float: right;}
.w20{width: 20%;}
.w40{width: 40%;}
.sitename{
    margin: 5px; 
    color: #DDDDDD;
    font-weight:bold;
    font-size: xx-large;
}
.addDeal{
    margin: 5px;
    color: #DDDDDD;
    font-weight: bold;
}
.siteicon{
    height: 55px; 
    margin: 20px;
}
.p{
    cursor: pointer;
}
.sucRegistr{
    color: #444444;
    margin: 133px 135px;
    text-align: center;
}
